aiohttp==3.9.1
feedparser==6.0.10
praw==7.7.1
requests==2.31.0
python-dateutil==2.8.2
python-dotenv==0.21.0
sqlalchemy==1.4.47
sqlalchemy-utils==0.37.8
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-dotenv
flask
