# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
env/
pip-log.txt
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# Logs
*.log
*.out
*.err

# Misc
*.sqlite3
